backend/dataset/*.csv
backend/loader/venv
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

pnpm-lock.yaml
.vscode

backend/.env

# Node
node_modules/
dist/
.env
.DS_Store
coverage/

# Dataset
l2_clean.csv
