version: "3.8"

services:
  timescaledb:
    image: timescale/timescaledb:latest-pg14
    container_name: timescaledb
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orderbook
    volumes:
      - tsdata:/var/lib/postgresql/data

  cpp-analytics:
    build:
      context: ../cpp_engine
      dockerfile: Dockerfile
    container_name: cpp-analytics
    ports:
      - "50051:50051"
    restart: unless-stopped

volumes:
  tsdata:
