services:
  timescaledb:
    image: timescale/timescaledb:latest-pg14
    container_name: timescaledb
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: trading_hub
    volumes:
      - tsdata:/var/lib/postgresql/data  # Separate volume for TimescaleDB

  cpp-analytics:
    build:
      context: ../cpp_engine
      dockerfile: Dockerfile
    container_name: cpp-analytics
    ports:
      - "50051:50051"
    restart: unless-stopped

  market-ingestor:
    build:
      context: ../market_ingestor
    container_name: market-ingestor
    ports:
      - "6000:6000"
    restart: unless-stopped

volumes:
  tsdata:    # Volume for TimescaleDB